cobra==0.16.0
depinfo
python-dotenv
future
Jinja2
mpmath
numpy>=1.16.5
optlang>=1.4.2
pandas>=0.17.0
pipdeptree
python-dateutil
python-libsbml
python-libsbml-experimental==5.18.0
pytz
ruamel.yaml>=0.15
setuptools
six
swiglpk
sympy
tabulate
xlrd
xlwt==1.3.0
six
